# Environment variables for Docker Compose, change these values as needed
# Change .env.example to .env as this is for example purposes 
POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres
POSTGRES_DB: appdb